<nav class="navbar navbar-light bg-light">

</nav>
<div class="container">
  <mat-horizontal-stepper labelPosition="bottom">

    <mat-step>
      <br>
      <h3>Basic Details :</h3>
      <br>
      <div>
        <input type="text" class="inp" placeholder="Name">
      </div>
      <br>
      <div>
        <input type="email" class="inp" placeholder="E-mail">
      </div>
      <br>

      <div>
        <input type="text" class="inp" placeholder="Hobbies">
      </div>
      <br>
      <div>
        <input type="text" class="inp" placeholder="Address">
      </div>
      <br>

      <div>
        <button mat-button matStepperNext type="button" class="btn btn-primary btnn">NEXT</button>
        <button type="button" class="btn btn-secondary btnn">CANCEL</button>
      </div>
    </mat-step>
    <mat-step>
      <h3>Choose your Preferences :</h3>
      <BR>





      <div class="row mb-2">
        <div class="col-md-6 ">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static" style="border: mediumorchid solid;">
              <span class="material-icons trophy">emoji_events</span>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <span class="material-icons">
                person
              </span>

            </div>
          </div>
        </div>


      </div>
      <button type="button" class="btn btn-primary bttn">PROCEED</button>
      <button type="button" class="btn btn-secondary bttn" style="margin-left: 3rem ;">CANCEL</button>
    </mat-step>
  </mat-horizontal-stepper>
</div>